[submodule "roles/ansible.plone_server"]
	path = roles/ansible.plone_server
	url = git@github.com:BaobabLims/ansible.plone_server.git
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = git@github.com:BaobabLims/ansible-role-nginx.git
